@font-face {
	font-family: gb-robo;
	src: url("../assets/fonts/Oswald-VariableFont_wght.ttf");
}

$col1: hsl(54, 51%, 71%);
$col2: hsl(300, 57%, 43%);
$col3: hsl(273, 52%, 56%);

nav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	background-color: transparent;
	/* 43*45 */
	#brand {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 15%;
		span {
			color: white;
			font-size: 3rem;
			// letter-spacing: .2rem;
			font-family: gb-robo, sans-serif;
			font-weight: 500;
			font-style: normal;
			color: transparent;
			background-color: $col2;
			background-clip: text;
			background: linear-gradient();
			$amt: 0.1rem;
			$namt: calc($amt * -1);
			$shadow: 2.5rem;
			animation: glow 5s linear infinite;
			text-shadow: $amt $amt $shadow $col3,
				$namt $amt $shadow $col3,
				$amt $namt $shadow $col3,
				$namt $namt $shadow $col3;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 3rem;
				transform: translateY(25%);
				mix-blend-mode: color-dodge;
			}
		}
	}
	#nav-control {
		display: flex;
		padding: 0;
		align-items: center;
		.text {
			color: white;
			margin-block: 8px;
		}
		.avatar {
			font-size: 1.5rem;
		}
	}
}
.pixel-font {
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
@keyframes glow{
	0%,100%{
		text-shadow: .1rem .1rem 2.5rem $col3,
				-0.1rem .1rem 2.5rem $col3,
				.1rem -0.1rem 2.5rem $col3,
				-0.1rem -0.1rem 2.5rem $col3;
	}
	30%,70%{
		text-shadow: .1rem .1rem 5rem $col3,
				-0.1rem .1rem 5rem $col3,
				.1rem -0.1rem 5rem $col3,
				-0.1rem -0.1rem 5rem $col3;
	}
	50%{
		text-shadow: .1rem .1rem 3rem $col3,
				-0.1rem .1rem 3rem $col3,
				.1rem -0.1rem 3rem $col3,
				-0.1rem -0.1rem 3rem $col3;
	}
}