@font-face {
	font-family: gb-robo;
	src: url("../assets/fonts/Oswald-VariableFont_wght.ttf");
}

$col1: hsl(54, 51%, 71%);
$col2: hsl(300, 35%, 35%);

nav {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	background-color: transparent;
	/* 43*45 */
	#brand {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 15%;
		span {
			color: white;
			font-size: 3rem;
			font-family: gb-robo, sans-serif;
			font-weight: 600;
			font-style: normal;
			background: #7a35cf;
			background: linear-gradient(to right, #7a35cf 0%, #dbd38f 100%);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 3rem;
				transform: translateY(25%);
			}
		}
	}
	#nav-control {
		display: flex;
		padding: 0;
		align-items: center;
		.text {
			color: white;
			margin-block: 8px;
		}
		.avatar {
			font-size: 1.5rem;
		}
	}
}
.pixel-font {
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
