$col1: hsl(54, 51%, 71%);
$col2: hsl(300, 35%, 35%);
nav {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	/* 43*45 */
	#brand {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 15%;
		position: relative;
		img {
			height: 100%;
			filter: drop-shadow(0 0 4px hsl(54, 51%, 71%));
			transform: rotateY(180deg) translateX(60%);
			z-index: 1;
		}
		span {
			color: white;
			font-size: 3rem;
			font-family: "Pixelify Sans", sans-serif;
			font-optical-sizing: auto;
			font-weight: 400;
			font-style: normal;
			position: absolute;
			background: linear-gradient(
				-90deg,
				$col2 20%,
				$col1 40%,
				#3a3a3a 70%,
				$col1 85%,
				$col2 98%
			);
			background-clip: text;
			-webkit-text-fill-color: transparent;
			z-index: 0;
		}
	}
	#nav-control {
		display: flex;
		padding: 0;
		align-items: center;
		.text {
			color: white;
			margin-block: 8px;
		}
		.avatar {
			font-size: 1.5rem;

		}
	}
}
.pixel-font {
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
